@import url('https://fonts.cdnfonts.com/css/highway-gothic');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #020202;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Highway Gothic', sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

.line-container {
  display: flex;
  flex-direction: column;
  width: 100%;  /* Full parent width */
  gap: 0px;    /* Space between lines */
}

.App-link {
  color: #61dafb;
}

.Dash-yellow {
  height: 2px;
  background: repeating-linear-gradient(to right, #edda02 0, #edda02 20px, #020202 10px, #020202 30px);
  width: 100%;
}

.Solid-black {
  border-bottom: 2px solid #020202;
  display: block;
}

.Solid-yellow {
  border-bottom: 2px solid #edda02;
  display: block;
}

.top-line {
  background: #020202;
  color: #edda02;
  display: flex;
  height: 60px;
  padding: 5px;
  width:100%;
  align-items: center;
  justify-content: space-between;    
}



.location-sign {
  width: 10vw;
  height: 50px;
  color:#edda02;
  border: 3px solid #edda02;
  margin-left: 2px;
  outline: 2px solid #020202;
  background: solid #020202;
  outline-offset: 0;       
  display: flex;
  align-items: center;  
  box-sizing: border-box;
  justify-content: center;  
  text-align: center;
  line-height: 1;
}

.apt-name {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-decoration: none !important;

}


.apt-name:hover {
  text-decoration: underline;
}

.data-grid {
  display: grid;
  grid-template-columns:7% 7% 3% 8% 7% 7% 3% 7%;
  grid-template-rows: 100%;
  gap: 0px;
  width: 100%;
  height: 95%;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  justify-content: center;
}

.data-box {
  display: flex;
  flex-direction: row;
  padding: 2px;
  border-radius: 0px;
  border: 0px;
  font-size: 13px;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  height: 100%;

}

.little-round-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: black; 
  color: white;
  border: 1px solid white;
  font-size: 12px;   
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 576px) {
  .location-sign {
    width: 30vw;
    height: 40px;
  }

  .top-line {
    height: 50px;
  }

  .apt-name {
    font-size: 16px;
  }

  .data-grid {
    grid-template-columns:10% 15% 5% 15% 9% 17% 5% 19%;
  }
}